@layer components.page-template {

	#react-root > div:not([class]):first-child {
		min-height: 100vh;

		> .ui-page-template {
			min-height: 100vh;
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: minmax(50px, auto) 1fr minmax(100px, auto);
			grid-template-areas:
				"header" 
				"content" 
				"footer";
	
			// sub-template
			.ui-page-template {
				display: grid;
				//grid-template-columns: minmax(250px, auto) 1fr;
				grid-template-columns: auto 1fr;
				grid-template-rows: 1fr;
				grid-template-areas:
					"nav main";

				> * {
					padding-inline: 1rem;

					&:first-child {
						padding-inline-start: 0;
					}

					&:last-child {
						padding-inline-end: 0;
					}
				}
			}
		}
	}

}
