@layer components.dialog {

	:root {
		--ui-dialog-open-speed: .5s;
		--ui-dialog-close-speed: .2s;
		--ui-dialog-transform: perspective(800px) rotateX(10deg) scale(1.05);
		/*
		--button-min-height--xs: #{toRem(30)};
		--button-min-height--sm: #{toRem(40)};
		--button-min-height--md: #{toRem(50)};
		--button-min-height--lg: #{toRem(60)};
		--button-min-height--xl: #{toRem(70)};
		--button-min-height: var(--ui-button-min-height--md);

		--button-padding-y--xs: 0;
		--button-padding-y--sm: 0;
		--button-padding-y--md: #{toRem(8)};
		--button-padding-y--lg: #{toRem(8)};
		--button-padding-y--xl: #{toRem(8)};
		--button-padding-y: var(--ui-button-padding-y--md);

		--button-padding-x--xs: #{toRem(8)};
		--button-padding-x--sm: #{toRem(20)};
		--button-padding-x--md: #{toRem(30)};
		--button-padding-x--lg: #{toRem(40)};
		--button-padding-x--xl: #{toRem(50)};
		--button-padding-x: var(--ui-button-padding-x--md);

		--button-font-size--xs: .75em;
		--button-font-size--sm: .85em;
		--button-font-size--md: 1em;
		--button-font-size--lg: 1.5em;
		--button-font-size--xl: 1.8em;
		--button-font-size: var(--ui-button-font-size--md);
			*/
	}

	.ui-dialog {
		border: 0;
		padding: 0;
		opacity: 0;
		margin: auto;
		border-radius: toRem(4);
		box-shadow: var(--ui-shadow-elevation-high);
		min-width: toRem(400);
		//max-width: 100%;
		max-width: toRem(600);
		min-height: toRem(300);
		overflow: hidden;
		flex-direction: column;
		//background-color: var(--ui-site-bg);
		background-color: var(--ui-site-panel);
		color: var(--ui-site-fg);

		&.show {
			display: flex;
			//transform: none;
			// without this, title will nudge a couple of pixels
			// into place once the transformation is complete;
			// this ensures the dialog stays in the GPU compositing layer
			transform: translateZ(0);
			opacity: 1;

			&::backdrop {
				opacity: .4;
			}
		}

		&::backdrop {
			background-color: #000;
			opacity: 0;
		}

		&__header {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 2rem;
			padding: 1rem;
			flex-shrink: 0;
		}

		&__title {
			font-size: toRem(24);
			font-weight: 500;
			margin: 0;
		}

		&:where(:not(:modal)) {
			position: fixed;
			inset-block-start: 0px;
			inset-block-end: 0px;
			max-width: calc(100% - 2em - 6px);
			max-height: calc(100% - 2em - 6px);
			user-select: text;
			visibility: visible;
			overflow: auto;
		}
		/*
    &__close {
      width: 32px;
      height: 32px;
      position: relative;

      &:not(:focus) {
        border-color: transparent;
      }

      &::before {
        content: "";
        position: absolute;
        inset: 6px;
        mask-size: cover;
        background-color: #000;
        transition: background-color .3s ease;
        mask: url("data:image/svg+xml,%3Csvg viewBox='0 0 474.133 474.133' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M55.132 29.633L29.633 55.184c61.043 58.222 126.374 129.47 181.504 182.305L29.633 419.147l25.499 25.335c58.557-60.323 128.077-126.248 181.934-181.007a51861.68 51861.68 0 01181.94 181.007l25.494-25.335L262.996 237.49c61.08-61.02 118.9-119.722 181.504-182.305l-25.495-25.55c-62.712 63.043-122.833 122.929-181.934 182.093-62.4-63.89-128.662-128.828-181.94-182.094z' /%3E%3C/svg%3E");
      }

      &:hover {
        &::before {
          background-color: #fff;
        }
      }

    }
*/
		&__body {
			padding: 1rem;
			overflow-x: hidden;
			overflow-y: auto;
			//max-height: toRem(200);
		}

		&__footer {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			gap: toRem(10);
			padding: 1rem;
			flex-shrink: 0;
			margin-block-start: auto;

			> * {
				min-width: toRem(100);
			}
		}
	}

	@media (prefers-reduced-motion: no-preference) {
		.ui-dialog {
			//will-change: transform;
			transform: var(--ui-dialog-transform);
			transition-property: transform, opacity;
			transition-duration: var(--ui-dialog-open-speed);
			transition-timing-function: ease;

			&::backdrop {
				transition-property: background-color, opacity;
				transition-duration: var(--ui-dialog-open-speed);
				transition-timing-function: ease;
			}

			&.shown {
				transition-duration: var(--ui-dialog-close-speed);

				&::backdrop {
					transition-duration: var(--ui-dialog-close-speed);
				}
			}
		}
	}
}
