.page-region {
	$page-region: &;
	//outline: 1px dotted #ffffff40;

	&[role="banner"] {
		grid-area: header;
		background-color: var(--header-bg);

		&#{$page-region}--sticky {
			position: sticky;
			top: 0;
			isolation: isolate;
			z-index: 1000;
			box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.1);
		}
	}

	&[role=""],
	&:not([role]) {
		grid-area: content;
		//background-color: var(--content-bg);
		padding: 1rem;

		> * {
			width: 100%;
			max-width: calc( ( var(--container-max) / 16 ) * 1rem);
			margin-inline: auto;
		}
	}

	&[role="contentinfo"] {
		grid-area: footer;
		background-color: var(--footer-bg);
	}

	&[role="banner"],
	&[role="contentinfo"] {
		padding: 1rem;

		> * {
			width: 100%;
			max-width: calc((1600 / 16) * 1rem);
			margin-inline: auto;
		}
	}

	// sub template
	&[role="navigation"] {
		grid-area: nav;
	}
	
	&[role="main"] {
		grid-area: main;
	}

}
