@layer forms {

	.ui-form__field {
		$ui-form-field: &;

		&-select {
			// default to solid background appearance without border
			appearance: none;
			border: var(--ui-field-border-width) var(--ui-field-border-style) transparent;
			border-radius: var(--ui-field-border-radius);
			background-color: var(--ui-field-background-color);
			color: var(--ui-field-color);
			font-family: var(--ui-field-font-family);
			font-size: var(--ui-field-font-size);
			font-weight: var(--ui-field-font-weight);
			width: 100%;
			min-height: var(--ui-field-min-height);
			padding: var(--ui-field-paddingY) calc(var(--ui-field-paddingX) + 2rem) var(--ui-field-paddingY) var(--ui-field-paddingX);
			margin: 0;
			background-image: var(--ui-chevronSVG);
			background-repeat: no-repeat;
			background-size: toRem(24);
			background-position: right toRem(10) center;
			transition-property: color, background-color, border-color, box-shadow, opacity;
			transition-duration: .2s;
			transition-timing-function: ease;

			&:hover:not(:disabled) {
				border-color: var(--ui-field-border-color--hover);
			}

			&:focus {
				border-color: var(--ui-field-border-color--active);
				//outline-color: transparent;
			}

			&[multiple] {
			}

			optgroup,
			option {
				appearance: none;
				font-family: var(--ui-field-font-family);
				color: var(--ui-field-color);
			}

		}

		// override appearance if outlined
		&--outlined {

			//#{$ui-form-field}-select {
			&#{$ui-form-field}-select {
				background-color: var(--ui-site-bg);
				//border: var(--ui-field-border-width) var(--ui-field-border-style) var(--ui-field-border-color);
				border-color: var(--ui-field-border-color);
			}

		}

	}

}
