.site-nav {
	$site-nav: &;

	&__search {
		$site-header__search: &;
		display: flex;
		align-items: center;
		flex: 1;

		&-trigger {
			// use !important to prevent default hover behaviour
			color: #222 !important;
			background: transparent !important;
			border: 0;
			border-radius: px_to_rem(8);
			padding: px_to_rem(8) px_to_rem(6);
			min-height: px_to_rem(44);
			display: flex;
			align-items: center;

			svg {
				width: px_to_rem(20);
				height: px_to_rem(20);
			}
			i {
				font-size: px_to_rem(20);
			}

		}

		&-wrapper {
		}

		input[type="search"] {
			flex: 1;
			width: 100%;
			border-radius: px_to_rem(8);
			min-height: px_to_rem(44);
			font-size: px_to_rem(16); // not 15px to avoid zoom-in on iOS
			padding: px_to_rem(8) px_to_rem(8) px_to_rem(8) px_to_rem(48);
			background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 19'%3E%3Cpath d='M15.4 14.27a8.71 8.71 0 10-1.12 1.12l3.37 3.38a.81.81 0 001.12 0c.32-.3.32-.8 0-1.12l-3.36-3.37zm-6.68 1.56a7.14 7.14 0 010-14.25 7.14 7.14 0 010 14.25z' fill='%23B50E7C' /%3E%3C/svg%3E%0A");
			background-size: px_to_rem(20) px_to_rem(20);
			background-repeat: no-repeat;
			background-position: px_to_rem(16);
			border: 1px solid transparent;
			transition: border-color .3s ease-in-out;

			&:hover, &:focus {
				border-color: var(--primary);
			}

			&:focus {
				box-shadow: 0 0 0 0.25rem var(--primary-shadow);
			}

			&::placeholder {
				font-size: px_to_rem(14);
				opacity: .6;
			}
		}

		&-dropdown {
			display: none;
			position: absolute;
			min-height: px_to_rem(300);
			left: 0;
		    right: 0;
			top: calc(var(--site-header-height) + #{px_to_rem(60)} + .5rem);
			background: #fff;
			box-shadow: 0 0 px_to_rem(16) 0 rgba(#210818, 25%);
			z-index: 100;

			&:empty {
				display: none !important;
			}
			
			.search-listing {
				list-style: none;

				a {
					text-decoration: none;
					color: #636464;
					display: flex;
				}

				li {
					margin:5px;
					height:30px;
					line-height:30px;

					i {
						width:30px;
						text-align:center;
					}
					&> span {
						color:#000;
						font-size:13px;

						b {
							font-weight: bolder;
						}
					}
					&:hover {
						background:#cccccc20;
					}
				}

				.search-listing-category {

				}
			}
		}

		&:focus-within #{$site-header__search}-wrapper:popover-open ~ #{$site-header__search}-dropdown {
			display: block;
		}

		&:focus-within #{$site-header__search}-wrapper.\:popover-open ~ #{$site-header__search}-dropdown {
			display: block;
		}

	}

}

@media only screen and (min-width: 1024px) {

	.site-nav {

		&__search {
			$site-header__search: &;
			position: relative;

			&-trigger {
				display: none;
			}

			&-wrapper {
				// prevent focus box-shadow being clipped
				overflow: visible;
			}

			input[type="search"] {

				&::placeholder {
					font-size: px_to_rem(15);
				}

			}

			&-dropdown {
				top: 100%;
			}

			&:focus-within {

				#{$site-header__search}-dropdown {
					display: block;
				}

			}

		}

	}

}