// styles used by UI/Button can be overridden by updating the relevant CSS prop below
// defaults will be used for any undefined values
/*
:root {
	// extra small (xs)
	--btn-xs-min-height: 35;
	--btn-xs-padding: 10;
	--btn-xs-font-size: 13;
	--btn-xs-font-weight: 400;
	--btn-xs-border-radius: 5;
	--btn-xs-icon: 10;
	--btn-xs-gap: 10;

	// small (sm)
	--btn-sm-min-height: 45;
	--btn-sm-padding: 20;
	--btn-sm-font-size: 15;
	--btn-sm-font-weight: 700;
	--btn-sm-border-radius: 5;
	--btn-sm-icon: 20;
	--btn-sm-gap: 10;

	// regular (md)
	--btn-md-min-height: 55;
	--btn-md-padding: 25;
	--btn-md-font-size: 18;
	--btn-md-font-weight: 700;
	--btn-md-border-radius: 5;
	--btn-md-icon: 22;
	--btn-md-gap: 10;

	// large (lg)
	--btn-lg-min-height: 65;
	--btn-lg-padding: 25;
	--btn-lg-font-size: 23;
	--btn-lg-font-weight: 700;
	--btn-lg-border-radius: 5;
	--btn-lg-icon: 24;
	--btn-lg-gap: 10;

	// extra large (xl)
	--btn-xl-min-height: 75;
	--btn-xl-padding: 30;
	--btn-xl-font-size: 26;
	--btn-xl-font-weight: 700;
	--btn-xl-border-radius: 5;
	--btn-xl-icon: 26;
	--btn-xl-gap: 12;
}
*/
