.component-test-category {
	font-size: toRem(20);
}

.component-test {
	padding: 1rem;
	position: relative;

	&.component-spacing {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
	}

	+ .component-test-category {
		margin-top: toRem(20);
	}

	&:fullscreen {
		background-color: var(--ui-site-bg);
		padding-left: 2rem;
		padding-top: 2rem;
		padding-bottom: 2rem;

		.request-fullscreen {
			position: fixed;
			top: 1rem;
			right: 1rem;
		}

	}
}

.test-controls {
	position: absolute;
	left: 2rem;
	top: 2rem;
	display: flex;
	gap: 14px;
}

.test-bg {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	//background: #D3DFB8;
	position: relative;
}

.test-panels {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
}

.test-panel {
	border-radius: 2rem;
	padding: 3rem;

	&:not(:has(.text--small)) {
		font-size: 1.5rem;
		font-weight: bold;
	}
}

.themed-panel {
	border-radius: 2rem;
	padding: 3rem;
	background-color: var(--ui-site-panel);
	box-shadow: var(--ui-site-panel-shadow);
}
