:root {
	--max-width: #{px_to_rem(1360)};

	// ref: https://www.figma.com/design/jkEagPAqFxUPvAaXajGIW5/Acticare-Design-System?node-id=41-89&m=dev
	--palette-pink: #B50E7C;
	--palette-light-pink: #EACBE3;

	--palette-dark-grey: #252626;
	--palette-grey: #C8C9C9;
	--palette-light-grey: #F9FAFA;

	--palette-green: #37B34A;
	--palette-light-green: #EBF7ED;

	--palette-yellow: #FCB813;
	--palette-light-yellow: #FFF8E7;

	--palette-red: #DA322B;
	--palette-light-red: #FBEAEA;

	--palette-blue: #1B75BB;
	--palette-light-blue: #E8F1F8;

	--palette-extraextralight-pink: #FDF8FB;
	--palette-extralight-pink: #FBF3F9;
	--palette-light2-pink: #F0CFE5;
	--palette-dark-pink: #6C0649;

	--palette-teal: #0EAFB5;
}

$base_font_size: 16; // in px
$site_bg: #fff;
