.site-breadcrumb {

	menu {
		list-style: none;
		padding: px_to_rem(10);
		margin: 0;
		display: flex;
		flex-wrap: wrap;
		gap: px_to_rem(15);
		background-color: var(--breadcrumb-bg, transparent);
		border-radius: px_to_rem(10);
		width: fit-content;
	}

	&__item {
		font-size: px_to_rem(12);
		font-weight: normal;
		text-decoration: none;
		color: var(--breadcrumb-fg, var(--primary));

		i {
			font-size: px_to_rem(12);
			transform: translateY(px_to_rem(-1));
		}

		&:hover {

			> span {
				text-decoration: underline;
			}
		}

		&--current {
			pointer-events: none;
		}

	}

}
