.theme-switcher {

	> li {

		.ui-btn {
			opacity: .5;

			svg {
				width: toRem(24);
				height: toRem(24);
			}

			&:hover {
				opacity: 1;
			}

			&:not(.ui-btn--outline) {
				opacity: 1;
			}

		}

	}

}
