@layer forms {

	.form__field {
		margin: 0 0 var(--field-spacing) 0;

		label {
			font-family: var(--label-font-family);
			font-size: var(--label-font-size);
			color: inherit;
		}

		// label styling for all input types except checkbox / radio
		&:not(:has(input[type="checkbox"])):not(:has(input[type="radio"])) {

			label {
				display: block;
				margin-block-end: var(--label-spacing);
				font-weight: var(--label-font-weight);
			}
		}

		&-help {
			text-wrap: pretty;
			font-size: 0.875em;
			color: var(--site-fg-secondary);
			margin-block-start: var(--help-spacing);
		}

		//input[type="button"]
		//input[type="color"],
		input[type="date"],
		input[type="datetime-local"],
		input[type="email"],
		//input[type="file"],
		//input[type="hidden"],
		//input[type="image"],
		input[type="month"],
		input[type="number"],
		input[type="password"],
		//input[type="range"],
		//input[type="reset"],
		input[type="search"],
		//input[type="submit"],
		input[type="tel"],
		input[type="text"],
		input[type="time"],
		input[type="url"],
		input[type="week"],
		//select,
		textarea {
			appearance: none;
			border: var(--field-border-width) var(--field-border-style) var(--field-border-color);
			border-radius: var(--field-border-radius);
			background-color: var(--field-background-color);
			color: var(--field-color);
			padding: var(--field-paddingY) var(--field-paddingX);
			//margin: 0 0 var(--field-spacing) 0;
			margin: 0;
			font-family: var(--field-font-family);
			font-size: var(--field-font-size);
			font-weight: var(--field-font-weight);
			width: 100%;

			&:hover {
				border-color: var(--field-border-color--hover);
			}

			&:focus {
				border-color: var(--field-border-color--active);
				//outline-color: transparent;
			}
		}

		textarea {
		}

		input[type="file"] {
			//margin: 0 0 var(--field-spacing) 0;
			margin: 0;
		}

		input[type="range"] {
			//margin: 0 0 var(--field-spacing) 0;
			margin: 0;
		}

		&--dotted {
			--field-border-style: dotted;
		}

		&--dashed {
			--field-border-style: dashed;
		}

		&--rounded {
			--field-border-radius: calc(var(--field-min-height) / 2);
			--field-paddingX: calc(var(--field-min-height) / 2);
		}

		&:has(input[type="checkbox"]) {
			//margin: 0 0 var(--field-spacing) 0;

			input {
			}

			label {
				-webkit-user-select: none;
				user-select: none;
			}
		}

		&:has(input[type="radio"]) {
			//margin: 0 0 var(--field-spacing) 0;

			input {
			}

			label {
				-webkit-user-select: none;
				user-select: none;
			}
		}

	}

}
