:root {
	--site-header-height: #{px_to_rem(100)};
	--logo-width: #{px_to_rem(30)};
	--logo-height: #{px_to_rem(30)};
}

.site-header {
	height: var(--site-header-height);
	padding: 0 px_to_rem(10);
	box-shadow: 0 0 px_to_rem(16) 0 rgba(#210818, 25%);

	&__internal {
		max-width: var(--max-width);
		margin: 0 auto;
		display: grid;
		grid-template-columns: var(--logo-width) 1fr auto;
		grid-template-rows: px_to_rem(60) px_to_rem(40);
		grid-template-areas:
			"logo search actions" 
			"nav nav contact";
		gap: 0 px_to_rem(12);
	}

	&__logo {
		grid-area: logo;
		display: flex;
		align-items: center;

		img {
			width: var(--logo-width);
			height: var(--logo-height);
		}
	}

	&__search {
		$site-header__search: &;
		grid-area: search;
		display: flex;
		align-items: center;

		&-trigger {
			border-radius: px_to_rem(8);
			padding: px_to_rem(8) px_to_rem(12);
			min-height: px_to_rem(44);
			display: flex;
			align-items: center;

			svg {
				width: px_to_rem(20);
				height: px_to_rem(20);
			}

		}

		&-wrapper {
			position: absolute;
			left: 0;
			top: var(--site-header-height);
			right: 0;
			bottom: auto;
			border: 0;
			margin: 0;
			padding: px_to_rem(4);
			width: 100vw;
			box-shadow: 0 px_to_rem(16) px_to_rem(16) 0 rgba(#210818, 25%);
			opacity: 0;
			transform: translateY(-100%);
			transition-property: opacity, transform, overlay, display;
			transition-duration: .3s;
			transition-timing-function: ease-in-out;
			transition-behavior: allow-discrete;

			// NB: for polyfill support
			// (do not combine with following rule)
			&.\:popover-open {
				opacity: 1;
				transform: none;

				&::backdrop {
					background-color: rgba(#210818, 25%);
				}
			}

			&:popover-open {
				opacity: 1;
				transform: none;

				&::backdrop {
					background-color: rgba(#210818, 25%);
				}
			}

			&::backdrop {
				background-color: transparent;
				transition-property: background-color, overlay, display;
				transition-duration: .3s;
				transition-timing-function: ease-in-out;
				transition-behavior: allow-discrete;
			}

		}

		input[type="search"] {
			width: 100%;
			border-radius: px_to_rem(8);
			min-height: px_to_rem(44);
			font-size: px_to_rem(16); // not 15px to avoid zoom-in on iOS
			padding: px_to_rem(8) px_to_rem(8) px_to_rem(8) px_to_rem(48);
			background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.3 12.58h-.91l-.32-.31a7.43 7.43 0 10-.8.8l.3.32v.9L18.3 20l1.7-1.7-5.7-5.72zm-6.87 0A5.14 5.14 0 117.42 2.3a5.14 5.14 0 01.01 10.28z' fill='currentColor'/%3E%3C/svg%3E");
			background-size: px_to_rem(20) px_to_rem(20);
			background-repeat: no-repeat;
			background-position: px_to_rem(16);

			&::placeholder {
				font-size: px_to_rem(14);
				opacity: .6;
			}
		}

		&-dropdown {
			display: none;
			position: absolute;
			min-height: px_to_rem(300);
			left: 0;
		    right: 0;
			top: calc(var(--site-header-height) + #{px_to_rem(60)} + .5rem);
			background: #fff;
			box-shadow: 0 0 px_to_rem(16) 0 rgba(#210818, 25%);
			z-index:1;
			
			.search-listing {
				list-style: none;
				
				a {
					text-decoration: none;
					color: #636464;
				}
				li {
					margin:5px;
					height:30px;
					line-height:30px;
					
					i {
						width:30px;
						text-align:center;
					}
					&> span {
						color:#000;	
						font-size:13px;
						
						b {
							font-weight: bolder;
						}
					}
				}
				
				.search-listing-category {
					
				}
			}
		}

		&:focus-within:has(#{$site-header__search}-wrapper:popover-open) {

			#{$site-header__search}-dropdown {
				display: block;
			}

		}

		&:focus-within:has(#{$site-header__search}-wrapper.\:popover-open) {

			#{$site-header__search}-dropdown {
				display: block;
			}

		}

	}

	&__actions {
		grid-area: actions;
		display: flex;
		align-items: center;
		gap: px_to_rem(12);

		.btn {
			border-radius: px_to_rem(8);
			padding: px_to_rem(8);
			min-height: px_to_rem(38);
			display: flex;
			align-items: center;
		}

		&-login,
		&-account {
			display: flex;
			gap: px_to_rem(8);
			font-size: px_to_rem(15);

			svg {
				width: px_to_rem(20);
				height: px_to_rem(20);
			}
		}

		&-basket {
			display: flex;
			gap: px_to_rem(8);
			font-size: px_to_rem(15);

			svg {
				width: px_to_rem(20);
				height: px_to_rem(20);
			}
		}

		&-login-label,
		&-account-label,
		&-basket-label,
		&-basket-total {
			// screenreader only
			position: absolute;
			width: 1px;
			height: 1px;
			padding: 0;
			margin: -1px;
			overflow: hidden;
			clip: rect(0, 0, 0, 0);
			white-space: nowrap;
			border: 0;
		}

		&-vat {
			border: 1px solid var(--primary);
			border-radius: px_to_rem(8);
			padding: px_to_rem(8);
			min-height: px_to_rem(44);
			position: relative;

			.form-check-label {
				font-size: px_to_rem(14);

				&::after {
					content: "";
					position: absolute;
					inset: 0;
					border-radius: px_to_rem(8);
				}
			}
		}
	}

	&__basket {

		&-wrapper {
			position: fixed;
			left: auto;
			top: 0;
			right: 0;
			bottom: 0;
			border: 0;
			margin: 0;
			padding: px_to_rem(20);
			width: 100vw;
			max-width: px_to_rem(190);
			height: 100vh;
			height: 100dvh;
			box-shadow: none;
			transform: translateX(100%);
			transition-property: transform, box-shadow, overlay, display;
			transition-duration: .3s;
			transition-timing-function: ease-in-out;
			transition-behavior: allow-discrete;
			display: flex;
			flex-direction: column;
			gap: px_to_rem(24);

			> header {
				display: flex;
				align-items: center;
				gap: px_to_rem(8);
				font-size: px_to_rem(15);
				font-weight: 600;
			}

			// NB: for polyfill support
			// (do not combine with following rule)
			&.\:popover-open {
				box-shadow: px_to_rem(-16) 0 px_to_rem(16) 0 rgba(#210818, 25%);
				transform: none;

				&::backdrop {
					background-color: rgba(#210818, 25%);
				}

			}

			&:popover-open {
				box-shadow: px_to_rem(-16) 0 px_to_rem(16) 0 rgba(#210818, 25%);
				transform: none;

				&::backdrop {
					background-color: rgba(#210818, 25%);
				}

			}

			&::backdrop {
				background-color: transparent;
				transition-property: background-color, overlay, display;
				transition-duration: .3s;
				transition-timing-function: ease-in-out;
				transition-behavior: allow-discrete;
			}

		}

		&-checkout {
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: px_to_rem(15);
			min-height: px_to_rem(44);
		}

	}

	&__nav {
		grid-area: nav;

		&-trigger {

			svg {
				width: px_to_rem(15);
				height: px_to_rem(15);
			}

		}

		&-links {
			list-style: none;
			display: flex;
			flex-direction:column;
			align-items: flex-start;
			gap: px_to_rem(8);
			font-size: px_to_rem(15);
			padding: px_to_rem(12) px_to_rem(20);
			margin: 0;

			> li > a,
			> li > .btn {
				font-size: px_to_rem(18);
				padding: 0;
				color: inherit;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}

			&-wrapper {
				position: fixed;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
				border: 0;
				margin: 0;
				padding: 0;
				width: 75vw;
				height: 100vh;
				height: 100dvh;
				box-shadow: px_to_rem(16) 0 px_to_rem(16) 0 rgba(#210818, 25%);
				transform: translateX(-100%);
				transition-property: transform, overlay, display;
				transition-duration: .3s;
				transition-timing-function: ease-in-out;
				transition-behavior: allow-discrete;

				// NB: for polyfill support
				// (do not combine with following rule)
				&.\:popover-open {
					transform: none;

					&::backdrop {
						background: rgba(#210818, 25%);
					}

				}

				&:popover-open {
					transform: none;

					&::backdrop {
						background: rgba(#210818, 25%);
					}

				}

				&::backdrop {
					background-color: transparent;
					transition-property: background-color, overlay, display;
					transition-duration: .3s;
					transition-timing-function: ease-in-out;
					transition-behavior: allow-discrete;
				}

			}

		}

	}

	&__products {
		$site-header__products: &;
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		flex-direction: column;
		gap: px_to_rem(12);
		margin-top: px_to_rem(12);

		&-title {
			font-size: px_to_rem(18);
			font-weight: 400;
			margin-bottom: px_to_rem(16);

			> .btn {
				font-size: inherit;
				font-weight: inherit;
				color: inherit;
				text-decoration: none;
				padding: 0;
				text-align: left;
				display: flex;
				align-items: center;
				justify-content: space-between;
				gap: px_to_rem(12);

				&::before {
					content: "\f054"; // fr-chevron-right (rotated to face left)
					display: inline-block;
					font: normal normal normal 12px / 1 FourRoads;
					font-size: px_to_rem(15);
					text-rendering: auto;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					transform: rotate(180deg);
				}

			}

			~ #{$site-header__products}-link::after {
				content: none;
			}
		}

		/*
		&-subtitle {
			font-size: px_to_rem(14);
			font-weight: 600;
			margin-bottom: px_to_rem(12);
		}
		*/

		&-link {
			font-size: px_to_rem(14);
			font-weight: 600;
			color: inherit;
			text-decoration: none;
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: px_to_rem(12);
			padding: 0;
			text-align: left;
			width: 100%;

			&:hover {
				text-decoration: underline;
			}

			&::after {
				content: "\f054"; // fr-chevron-right
				display: inline-block;
				font: normal normal normal 12px / 1 FourRoads;
				font-size: px_to_rem(15);
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}
		}

		&-wrapper {
			position: fixed;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			border: 0;
			margin: 0;
			padding: px_to_rem(20);
			width: 100vw;
			max-width: px_to_rem(360);
			height: 100vh;
			height: 100dvh;
			box-shadow: px_to_rem(16) 0 px_to_rem(16) 0 rgba(#210818, 25%);
			transform: translateX(-100%);
			transition-property: transform, overlay, display;
			transition-duration: .3s;
			transition-timing-function: ease-in-out;
			transition-behavior: allow-discrete;

			// NB: for polyfill support
			// (do not combine with following rule)
			&.\:popover-open {
				transform: none;

				&::backdrop {
					background: rgba(#210818, 25%);
				}
			}

			&:popover-open {
				transform: none;

				&::backdrop {
					background: rgba(#210818, 25%);
				}
			}

			&::backdrop {
				background-color: transparent;
				transition-property: background-color, overlay, display;
				transition-duration: .3s;
				transition-timing-function: ease-in-out;
				transition-behavior: allow-discrete;
			}

		}

	}

	&__contact {
		grid-area: contact;
		list-style: none;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: px_to_rem(24);
	}

	&__tel {
		font-size: px_to_rem(15);
		display: flex;
		align-items: center;
		gap: px_to_rem(8);

		svg {
			width: px_to_rem(12);
			height: px_to_rem(12);
		}
	}

	&__message {
		font-size: px_to_rem(15);
		display: none;
	}
}

@starting-style {
	
	.site-header {
		
		&__search-wrapper {

			&.\:popover-open {
				opacity: 0;
				transform: translateY(-100%);

				&::backdrop {
					background-color: transparent;
				}
			}

			&:popover-open {
				opacity: 0;
				transform: translateY(-100%);

				&::backdrop {
					background-color: transparent;
				}
			}

		}

		&__nav-links-wrapper,
		&__products-wrapper {

			&.\:popover-open {
				transform: translateX(-100%);
			
				&::backdrop {
					background-color: transparent;
				}
			}

			&:popover-open {
				transform: translateX(-100%);

				&::backdrop {
					background-color: transparent;
				}
			}

		}

		&__basket-wrapper {

			&.\:popover-open {
				box-shadow: none;
				transform: translateX(100%);

				&::backdrop {
					background-color: transparent;
				}
			}

			&:popover-open {
				box-shadow: none;
				transform: translateX(100%);

				&::backdrop {
					background-color: transparent;
				}
			}

		}

	}

}

@media only screen and (min-width: 1024px) {

	.site-header {
		--site-header-height: #{px_to_rem(168)};
		--logo-width: #{px_to_rem(60)};
		--logo-height: #{px_to_rem(60)};
		//height: var(--site-header-height);
		padding: px_to_rem(20) px_to_rem(40);
		//box-shadow: 0 0 px_to_rem(16) 0 rgba(#210818, 25%);

		&__internal {
			grid-template-rows: auto auto;
			gap: px_to_rem(24);
		}

		&__search {
			$site-header__search: &;
			position: relative;

			&-trigger {
				display: none;
			}

			&-wrapper {
				position: static;
				/*
				left: auto;
				top: auto;
				right: 0;
				bottom: auto;
				*/
				//border: 0;
				//margin: 0;
				padding: 0;
				display: block;
				width: 100%;
				box-shadow: none;
				opacity: 1;
				transform: none;

				/*
				// NB: for polyfill support
				// (do not combine with following rule)
				&.\:popover-open {
					opacity: 1;
					transform: none;
				}

				&:popover-open {
					opacity: 1;
					transform: none;
				}
				*/
			}

			input[type="search"] {
				/*
				width: 100%;
				border-radius: px_to_rem(8);
				min-height: px_to_rem(44);
				font-size: px_to_rem(16); // not 15px to avoid zoom-in on iOS
				padding: px_to_rem(8) px_to_rem(16) px_to_rem(8) px_to_rem(48);
				background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.2939 12.5786H13.3905L13.0703 12.2699C14.191 10.9663 14.8656 9.27387 14.8656 7.43282C14.8656 3.32762 11.538 0 7.43282 0C3.32762 0 0 3.32762 0 7.43282C0 11.538 3.32762 14.8656 7.43282 14.8656C9.27387 14.8656 10.9663 14.191 12.2699 13.0703L12.5786 13.3905V14.2939L18.2962 20L20 18.2962L14.2939 12.5786ZM7.43282 12.5786C4.58548 12.5786 2.28702 10.2802 2.28702 7.43282C2.28702 4.58548 4.58548 2.28702 7.43282 2.28702C10.2802 2.28702 12.5786 4.58548 12.5786 7.43282C12.5786 10.2802 10.2802 12.5786 7.43282 12.5786Z' fill='currentColor'/%3E%3C/svg%3E");
				background-size: px_to_rem(20) px_to_rem(20);
				background-repeat: no-repeat;
				background-position: px_to_rem(16);
				*/

				&::placeholder {
					font-size: px_to_rem(15);
				}

			}

			&-dropdown {
				top: 100%;
			}

			&:focus-within {

				#{$site-header__search}-dropdown {
					display: block;
				}

			}

		}

		&__actions {
			gap: px_to_rem(24);

			.btn {
				padding: px_to_rem(8) px_to_rem(16);  
				min-height: px_to_rem(44);
			}

			/*
			&-login,
			&-account {
				display: flex;
				gap: px_to_rem(8);
				font-size: px_to_rem(15);

				svg {
					width: px_to_rem(20);
					height: px_to_rem(20);
				}
			}

			&-basket {
				display: flex;
				gap: px_to_rem(8);
				font-size: px_to_rem(15);

				svg {
					width: px_to_rem(20);
					height: px_to_rem(20);
				}
			}
			*/

			&-login-label,
			&-account-label,
			&-basket-label,
			&-basket-total {
				position: static;
				width: auto;
				height: auto;
				//padding: 0;
				margin: 0;
				overflow: visible;
				clip: auto;
				white-space: normal;
				//border: 0;
			}

			&-vat {
				padding: px_to_rem(8) px_to_rem(16);
				min-height: px_to_rem(44);

				.form-check-label {
					font-size: px_to_rem(15);
				}
			}
		}

		/*
		&__basket {

			&-wrapper {
				position: absolute;
				left: auto;
				top: var(--site-header-height);
				right: 0;
				bottom: 0;
				border: 0;
				margin: 0;
				padding: 0;
				width: 75vw;
				height: calc(100vh - var(--site-header-height));
				height: calc(100dvh - var(--site-header-height));
				box-shadow: px_to_rem(-16) px_to_rem(16) px_to_rem(16) 0 rgba(#210818, 25%);
				transform: translateX(100%);
				transition-property: transform, overlay, display;
				transition-duration: .3s;
				transition-timing-function: ease-in-out;
				transition-behavior: allow-discrete;

				// NB: for polyfill support
				// (do not combine with following rule)
				&.\:popover-open {
					transform: none;
				}

				&:popover-open {
					transform: none;
				}

			}

		}
		*/

		&__nav {

			&-trigger {
				display: none;
			}

			&-links {
				flex-direction: row;
				align-items: center;
				gap: px_to_rem(24);
				font-size: px_to_rem(18);
				padding: 0;
				min-height: px_to_rem(44);

				&-wrapper {
					position: static;
					display: block;
					//border: 0;
					//margin: 0;
					//padding: 0;
					width: auto;
					height: auto;
					box-shadow: none;
					transform: none;

					/*
					// NB: for polyfill support
					// (do not combine with following rule)
					&.\:popover-open {
						transform: none;
					}

					&:popover-open {
						transform: none;
					}
					*/

				}

			}

		}

		&__products {
			font-size: px_to_rem(15);
			gap: px_to_rem(16);
			margin-top: px_to_rem(16);

			&-title {
				font-size: px_to_rem(21);
				font-weight: 400;
			}

			/*
			&-subtitle {
				font-size: px_to_rem(15);
				margin-bottom: px_to_rem(16);
			}
			*/

			&-link {
				font-size: px_to_rem(15);
			}

			&-wrapper {
				padding: px_to_rem(20) px_to_rem(20) px_to_rem(20) px_to_rem(40);
			}

		}

		/*
		&__contact {
			grid-area: contact;
			list-style: none;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			gap: px_to_rem(24);
		}
		*/

		&__tel {
			font-size: px_to_rem(18);
		}

		&__message {
			font-size: px_to_rem(18);
			display: block;
		}

	}

}