:root {
	--site-header-height: #{px_to_rem(110)};
	--site-header-logo-width: #{px_to_rem(30)};
	--site-header-logo-height: #{px_to_rem(30)};
	--site-header-logo-transform: none;
	--site-subheader-bg: #fff;
	--site-subheader-fg: #000;
}

.site-nav {
	$site-nav: &;
	height: var(--site-header-height);
	/*
	padding: 0 px_to_rem(10);
	box-shadow: 0 0 px_to_rem(16) 0 rgba(#210818, 25%);
	*/

	&__header {
	    height: px_to_rem(65);
		display: flex;
		align-items: center;
		//display: grid;
		//grid-template-columns: 1fr min(var(--max-width), calc(100vw - (2 * #{px_to_rem(20)}))) 1fr;
		//grid-template-columns: min(var(--max-width), calc(100vw - (2 * #{px_to_rem(20)})));
		//grid-template-rows: auto;
		//grid-template-areas: "spacing content spacing";
		padding: 0 px_to_rem(20);

		&-internal {
			flex: 1;
			//grid-column: 2;
			//grid-area: content;
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: px_to_rem(8);
			
			> span {
				display: flex;
				align-items: center;
				gap: px_to_rem(8);
				
				&:first-child {
					flex: 1;
				}

			}

		}

	}

	&__subheader {
	    height: px_to_rem(45);
		background: var(--site-subheader-bg, #fff);
		color: var(--site-subheader-fg, #000);
		//display: grid;
		//grid-template-columns: 1fr min(var(--max-width), calc(100vw - (2 * #{px_to_rem(20)}))) 1fr;
		//grid-template-rows: auto;
		display: flex;
		align-items: center;
		padding: 0 px_to_rem(20);

		a {
			color: inherit;
		}

		&-internal {
			flex: 1;
			//grid-column: 2;
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: px_to_rem(24);
			
			> span {
				display: flex;
				align-items: center;
				gap: px_to_rem(24);
			}

		}

	}

	&__logo {
		//grid-area: logo;
		display: flex;
		align-items: center;
		transform: var(--site-header-logo-transform);

		img {
			width: var(--site-header-logo-width);
			height: var(--site-header-logo-height);
		}
	}

	&__actions {
		display: flex;
		align-items: center;
		gap: px_to_rem(8);

		> .btn {
			border-radius: px_to_rem(8);
			padding: px_to_rem(8) px_to_rem(6);
			min-height: px_to_rem(38);
			display: flex;
			align-items: center;
		}

		.btn-outline-primary {
			border-color: transparent;

			&:hover, &:focus {
				border-color: var(--primary);
			}
		}

		&-login,
		&-account {
			display: flex;
			gap: px_to_rem(8);
			font-size: px_to_rem(15);
			color: var(--primary);

			svg {
				width: px_to_rem(20);
				height: px_to_rem(20);
			}
		}

		&-login-label,
		&-account-label {
			// screenreader only
			position: absolute;
			width: 1px;
			height: 1px;
			padding: 0;
			margin: -1px;
			overflow: hidden;
			clip: rect(0, 0, 0, 0);
			white-space: nowrap;
			border: 0;
		}

		&-vat {
			padding: 0;
			min-height: px_to_rem(44);
			position: relative;
			display: flex;
			align-items: center;
			--form-switch-color: var(--secondary);
			--form-switch-color--checked: var(--secondary);

			.form-check.ui-check {
				--form-check-font-size: 14;
			}
		}
	}

	&__primary {
		$site-header__primary: &;

		&-trigger.btn {
			--btn-gap: 8;
			--btn-font-size: 14;
			--btn-font-weight: 700;
			--ui-link-color: currentColor;

			&:hover {
				text-decoration: underline;
			}

			svg {
				width: px_to_rem(14);
				height: px_to_rem(14);
				transform: translateY(-1px);
			}

		}

		&-title {
			color: var(--secondary);
			font-size: px_to_rem(15);
			font-weight: bold;
			margin-bottom: px_to_rem(16);

			/*
			> .btn {
				font-size: inherit;
				font-weight: inherit;
				color: inherit;
				text-decoration: none;
				padding: 0;
				text-align: left;
				display: flex;
				align-items: center;
				justify-content: space-between;
				gap: px_to_rem(12);
				white-space: normal;

				&::before {
					content: "\f054"; // fr-chevron-right (rotated to face left)
					display: inline-block;
					font: normal normal normal 12px / 1 FourRoads;
					font-size: px_to_rem(15);
					text-rendering: auto;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					transform: rotate(180deg);
				}

			}

			~ #{$site-header__primary}-link::after {
				content: none;
			}
			*/
		}

		&-menu {
			list-style: none;
			padding: 0;
			margin: 0;
			display: flex;
			flex-direction: column;
			margin-top: px_to_rem(12);

			> li {
				border-top: 1px solid var(--divider, var(--secondary-shadow));
			    padding: px_to_rem(6) 0;
			}
		}

		&-back {
			margin-bottom: px_to_rem(16);
			white-space: normal;
			text-align: left;

			> i {
				// nudge icon up slightly
				transform: translateY(px_to_rem(-2));
			}

			> span {
				color: var(--secondary);
			}

		}

		&-link {
			--btn-gap: 8;
			--btn-font-size: 14;
			--btn-font-weight: 700;
			--ui-link-color: currentColor;

			&:hover {
				text-decoration: underline;
			}

			svg {
				width: px_to_rem(14);
				height: px_to_rem(14);
				transform: translateY(-1px);
			}

		}

		&-sublink {
			--btn-font-size: 13;
			--ui-link-font-size: 13;
			//font-size: px_to_rem(13);
			font-weight: 600;
			color: inherit;
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: px_to_rem(12);
		    padding: px_to_rem(6) 0;
			text-align: left;
			width: 100%;
			white-space: normal;
			text-decoration: none;

			&:hover {
				color: var(--secondary);

				> span {
					text-decoration: underline;
				}
			}

			/*
			&::after {
				//content: "\f054"; // fr-chevron-right
				content: "\f061"; // fr-arrow-right
				display: inline-block;
				font: normal normal normal 12px / 1 FourRoads;
				font-size: px_to_rem(16);
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}
			*/
		}

		&-wrapper {
			position: fixed;
			color: var(--primary);
			left: 0;
			//top: 0;
			top: calc(var(--site-header-height) - var(--page-scroll-y));
			right: 0;
			bottom: 0;
			border: 0;
			margin: 0;
			padding: px_to_rem(24) px_to_rem(20);
			width: 100vw;
			max-width: px_to_rem(340);
			height: auto;
			box-shadow: px_to_rem(16) 0 px_to_rem(16) 0 rgba(#210818, 25%);
			transform: translateX(-100%);
			transition-property: transform, overlay, display;
			transition-duration: .3s;
			transition-timing-function: ease-in-out;
			transition-behavior: allow-discrete;

			// NB: for polyfill support
			// (do not combine with following rule)
			&.\:popover-open {
				transform: none;

				&::backdrop {
					//background: rgba(#210818, 25%);
				}
			}

			&:popover-open {
				transform: none;

				&::backdrop {
					//background: rgba(#210818, 25%);
				}
			}

			/*
			&::backdrop {
				background-color: transparent;
				transition-property: background-color, overlay, display;
				transition-duration: .3s;
				transition-timing-function: ease-in-out;
				transition-behavior: allow-discrete;
			}
			*/

		}

	}

	&__secondary {

		&-wrapper {
			position: fixed;
			left: auto;
			top: 0;
			right: 0;
			bottom: 0;
			border: 0;
			margin: 0;
			padding: px_to_rem(20);
			width: 100vw;
			max-width: px_to_rem(250);
			height: 100vh;
			height: 100dvh;
			box-shadow: none;
			transform: translateX(100%);
			transition-property: transform, box-shadow, overlay, display;
			transition-duration: .3s;
			transition-timing-function: ease-in-out;
			transition-behavior: allow-discrete;
			display: flex;
			flex-direction: column;
			gap: px_to_rem(24);

			// NB: for polyfill support
			// (do not combine with following rule)
			&.\:popover-open {
				box-shadow: px_to_rem(-16) 0 px_to_rem(16) 0 rgba(#210818, 25%);
				transform: none;

				&::backdrop {
					background-color: rgba(#210818, 25%);
				}

			}

			&:popover-open {
				box-shadow: px_to_rem(-16) 0 px_to_rem(16) 0 rgba(#210818, 25%);
				transform: none;

				&::backdrop {
					background-color: rgba(#210818, 25%);
				}

			}

			&::backdrop {
				background-color: transparent;
				transition-property: background-color, overlay, display;
				transition-duration: .3s;
				transition-timing-function: ease-in-out;
				transition-behavior: allow-discrete;
			}

		}

		&-trigger {

			&.btn {
				--btn-gap: 8;
				--btn-font-size: 14;
				--btn-font-weight: 700;
				--ui-link-color: currentColor;
			}

			&:hover {
				text-decoration: underline;
			}

			i {
				font-size: px_to_rem(10);
			}
		}

		&-menu {
			list-style: none;
			padding: 0;
			margin: 0;
			display: flex;
			flex-direction: column;
			gap: px_to_rem(12);
			margin-top: px_to_rem(12);
		}

		&-link {
			--ui-link-font-size: 14;
			--ui-link-font-weight: 700;
			--ui-link-gap: 8;
			--ui-link-hover: currentColor;
			display: flex;
			align-items: center;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}

			svg {
				width: px_to_rem(14);
				height: px_to_rem(14);
			}

			&--hide-label-mobile {

				span {
					// mimic sr-only
					position: absolute;
					width: 1px;
					height: 1px;
					padding: 0;
					margin: -1px;
					overflow: hidden;
					clip: rect(0, 0, 0, 0);
					border: 0;
				}

			}

			&--hide-mobile {
				display: none;
			}

		}

		&-sublink {
			font-size: px_to_rem(14);
			font-weight: 600;
			color: inherit;
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: px_to_rem(12);
			padding: 0;
			text-align: left;
			width: 100%;
			text-decoration: none;
			white-space: normal;

			&:hover {

				> span {
					text-decoration: underline;
				}

			}

			&::after {
				content: "\f054"; // fr-chevron-right
				display: inline-block;
				font: normal normal normal 12px / 1 FourRoads;
				font-size: px_to_rem(15);
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}
		}

	}

}

@starting-style {

	.site-nav {

		&__nav-links-wrapper,
		&__primary-wrapper {

			&.\:popover-open {
				transform: translateX(-100%);
			
				&::backdrop {
					background-color: transparent;
				}
			}

			&:popover-open {
				transform: translateX(-100%);

				&::backdrop {
					background-color: transparent;
				}
			}

		}

		&__secondary-wrapper {

			&.\:popover-open {
				box-shadow: none;
				transform: translateX(100%);

				&::backdrop {
					background-color: transparent;
				}
			}

			&:popover-open {
				box-shadow: none;
				transform: translateX(100%);

				&::backdrop {
					background-color: transparent;
				}
			}

		}

	}

}

@media only screen and (min-width: 680px) {

	.site-nav {

		&__secondary {

			&-link {

				&--hide-label-mobile {

					span {
						// remove sr-only styles
						position: static;
						width: auto;
						height: auto;
						margin: 0;
						overflow: visible;
						clip: auto;
					}

				}

				&--hide-mobile {
					display: block;
				}

			}


		}

		/*
		&__tel {

			span {
				// remove sr-only styles
				position: static;
				width: auto;
				height: auto;
				margin: 0;
				overflow: visible;
				clip: auto;
			}

		}

		&__delivery {
			//font-size: px_to_rem(18);
			display: block;
		}
		*/

	}

}

@media only screen and (min-width: 1024px) {

	.site-nav {

		&__actions {
			gap: px_to_rem(4);

			.btn {
				padding: px_to_rem(8) px_to_rem(16);  
				min-height: px_to_rem(44);
			}

			&-login-label,
			&-account-label {
				position: static;
				width: auto;
				height: auto;
				margin: 0;
				overflow: visible;
				clip: auto;
				white-space: normal;
			}

			&-vat {
				padding: px_to_rem(8) px_to_rem(16);
				min-height: px_to_rem(44);

				.form-check-label {
					font-size: px_to_rem(15);
				}
			}
		}

		/*
		&__nav {

			&-trigger {
				display: none;
			}

			&-links {
				flex-direction: row;
				align-items: center;
				gap: px_to_rem(24);
				font-size: px_to_rem(18);
				padding: 0;
				min-height: px_to_rem(44);

				&-wrapper {
					position: static;
					display: block;
					width: auto;
					height: auto;
					box-shadow: none;
					transform: none;
				}

			}

		}
		*/

		&__primary {

			&-trigger.btn {
				--btn-font-size: 16;
			}

			&-title {
				font-size: px_to_rem(18);
			}

			&-link {
				--btn-font-size: 16;
			}

			&-sublink {
				--btn-font-size: 15;
				--ui-link-font-size: 15;
				//font-size: px_to_rem(15);
			}

			&-wrapper {
				padding: px_to_rem(32) px_to_rem(24);
			}

		}

	}

}

@mixin blurTransition() {
	transition: filter .2s ease;
}

@mixin blurFilter() {
	filter: blur(2px) grayscale(25%);
}

#content,
#content ~ footer {
	@include blurTransition();
}

// for popover polyfill support (do not merge with following rule)
body:has(.site-nav__primary-wrapper.\:popover-open) {
	padding-right: var(--vertical-scroll-width, 0);

	#content {
		@include blurFilter();

		~ footer {
			@include blurFilter();
		}
	}
}

body:has(.site-nav__primary-wrapper:popover-open) {
	padding-right: var(--vertical-scroll-width, 0);

	#content {
		@include blurFilter();

		~ footer {
			@include blurFilter();
		}
	}
}
