/*
    SASS variables
    ----------------------------------------------------
    NB: do not include any code within global.* files which will result in exported CSS (as this will be included multiple times)
*/

/*
$base_font_size: 16 !default;

$ratio_golden: 1.618;
$ratio_perfect_fifth: 1.5;
$ratio_augmented_fourth: 1.414;
$ratio_perfect_fourth: 1.333;
$ratio_major_third: 1.25;
$ratio_minor_third: 1.2;
$ratio_major_second: 1.125;
$ratio_minor_second: 1.067;
$heading-font-ratio: $ratio_perfect_fourth;
*/

// NB: SASS variables required, as CSS variables are invalid in the context of a @media query
$breakpoint-tablet: 753;
$breakpoint-mobile: $breakpoint-tablet - 0.02; // for use with a max-width @media query
$breakpoint-laptop: 1280;
$breakpoint-desktop: 1536;
