@layer anims {

	:root {
		// ref: https://developer.mozilla.org/en-US/docs/Web/CSS/interpolate-size
		// NB: as of March 2025, only supported by Chrome/Edge
		interpolate-size: allow-keywords;

		// default to smooth scrolling (see related overriding @media query below)
		scroll-behavior: smooth;
	}

	.anim--spin {
		animation: spin_anim 2s linear infinite
	}

	@keyframes spin_anim {
		0% {
			transform: rotate(0deg);
		}

		100% {
			transform: rotate(360deg);
		}
	}

	// tone down animations
	// NB: potentially still allow loading spinners?
	@media (prefers-reduced-motion: reduce) {

		:root {
			scroll-behavior: auto;
		}

		* {
			transition-delay: 0 !important;
			animation: none !important;
		}
	}
}
