@layer media {

	// improve media element defaults
	img, picture, video, canvas, svg {
		display: block;
		max-width: 100%;
	}

	// hide definition-only SVG blocks
	svg:has(> defs:first-child:last-child) {
		display: none;
	}

	area {
	}

	audio {
	}

	img {
	}

	map {
	}

	track {
	}

	video {
	}
}
