@layer palette {

	:root {
		// default to light / dark mode support
		color-scheme: light dark;

		// optionally limit support
		html.light-only {
			color-scheme: light;
		}

		html.dark-only {
			color-scheme: dark;
		}

		/*
    --lightness: 0.6;
    --chroma: 0.1;
    --lightness-offset: .1;
    --lightness-offset2: .6;
    --darkness-offset: .1;
    --darkness-offset2: .3;
    */

		--ui-lightness: 0.54;
		//--chroma: 0.05;
		--ui-chroma-light: 0.15;
		--ui-chroma-dark: 0.05;
		--ui-lightness-offset: .3;
		--ui-lightness-offset2: .7;
		--ui-lightness-text-offset: 0.5;
		--ui-darkness-offset: .1;
		--ui-darkness-offset2: .24;
		--ui-darkness-text-offset: 0.16;

		--ui-primary-hue-dark: 244.68;
		--ui-secondary-hue-dark: 0;
		--ui-success-hue-dark: 130.93;
		--ui-danger-hue-dark: 18.68;
		--ui-warning-hue-dark: 91.41;
		//--ui-info-hue-dark: 212.55;
		--ui-info-hue-dark: 182.55;

		--ui-primary-hue-light: 244.68;
		--ui-secondary-hue-light: 0;
		--ui-success-hue-light: 130.93;
		--ui-danger-hue-light: 18.68;
		--ui-warning-hue-light: 91.41;
		//--ui-info-hue-light: 212.55;
		--ui-info-hue-light: 182.55;

		--ui-primary-fg-dark: #fff;
		--ui-secondary-fg-dark: #fff;
		--ui-success-fg-dark: #fff;
		--ui-danger-fg-dark: #fff;
		--ui-warning-fg-dark: #fff;
		--ui-info-fg-dark: #fff;
		
		--ui-primary-fg-light: #fff;
		--ui-secondary-fg-light: #fff;
		--ui-success-fg-light: #fff;
		--ui-danger-fg-light: #fff;
		--ui-warning-fg-light: #fff;
		--ui-info-fg-light: #fff;
		/*
		--site-bg-dark: #333;
		--site-fg-dark: #fff;
    --site-fg-secondary-dark: #8d8d93;
    --site-fg-tertiary-dark: #47474a;
		--site-fg-quaternary-dark: #2a2a2c;

		--site-bg-mid: #1c1c1e;
		--site-fg-mid: #fff;
    --site-fg-secondary-mid: #989899;
    --site-fg-tertiary-mid: #5a5a5e;
		--site-fg-quaternary-mid: #404044;
    */

		//--site-bg-dark: #1c1c1e;
		//--site-bg-dark: oklch(22.7% 1% 286.092);
		--ui-site-bg-dark: #201f1e;
		
		// increase lightness by 2%
		//--site-panel-dark: #232021;
		//--site-panel-dark: oklch(24.7% 1% 286.092);
		--ui-site-panel-dark: #252423;
		--ui-site-panel-shadow-dark: 
			0 0 2px rgba(3, 7, 18, 0.03), 
			0 0 6px rgba(3, 7, 18, 0.05), 
			0 0 14px rgba(3, 7, 18, 0.08), 
			0 0 25px rgba(3, 7, 18, 0.10);
		
		--ui-site-fg-dark: #fff;
		--ui-site-fg-secondary-dark: #989899;
		--ui-site-fg-tertiary-dark: #5a5a5e;
		--ui-site-fg-quaternary-dark: #404044;
		
		--ui-site-bg-light: #fff;
		--ui-site-bg-light: oklch(100% 0% 89.876);
		
		// decrease lightness by 4%
		--ui-site-panel-light: #f8f8f8;
		--ui-site-panel-light: oklch(96% 0% 89.876);
		--ui-site-panel-shadow-light: 0 0 2px rgba(84, 84, 84, 0.03), 0 0 6px rgba(84, 84, 84, 0.05), 0 0 14px rgba(84, 84, 84, 0.08), 0 0 25px rgba(84, 84, 84, 0.10);
		
		--ui-site-fg-light: #1e1e1e;
		--ui-site-fg-secondary-light: #8a8a8e;
		--ui-site-fg-tertiary-light: #c4c4c6;
		--ui-site-fg-quaternary-light: #dcdcdd;
		
		--ui-header-bg-dark: #0a0a0a;
		--ui-header-bg-light: #d8d8d8;
		/*
    --content-bg-dark: #1d1e22;
    --content-bg-light: #d8d8d8;
    */

		--ui-footer-bg-dark: #0a0a0a;
		--ui-footer-bg-light: #d8d8d8;
		/*
		--primaryRGB: 100,149,237; // cornflowerblue
		--primary: rgb(--primaryRGB);
		--primaryFocus: rgba(var(--ui-primaryRGB), .5);
    */

		--ui-link-light: hsl(240deg 95% 62%);
		--ui-link-dark: hsl(225deg 100% 75%);

		--ui-chevronSVG-light: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23222' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='m6 9 6 6 6-6'/%3E%3C/svg%3E");
		--ui-chevronSVG-dark: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='m6 9 6 6 6-6'/%3E%3C/svg%3E");
	}

	@mixin resetPalette() {
		--ui-primary: oklch(var(--ui-lightness) var(--ui-chroma) var(--ui-primary-hue));
		--ui-primary-light: oklch(calc(var(--ui-lightness) * (1 + var(--ui-lightness-offset))) var(--ui-chroma) var(--ui-primary-hue));
		//--ui-primary-light2: oklch(calc(var(--ui-lightness) * (1 + var(--ui-lightness-offset2))) var(--ui-chroma) var(--ui-primary-hue));
		--ui-primary-light2: oklch(.94 .02 var(--ui-primary-hue));
		--ui-primary-light-text: oklch(calc(var(--ui-lightness) * (1 + var(--ui-lightness-text-offset))) var(--ui-chroma) var(--ui-primary-hue));
		--ui-primary-dark: oklch(calc(var(--ui-lightness) * (1 - var(--ui-darkness-offset))) var(--ui-chroma) var(--ui-primary-hue));
		--ui-primary-dark2: oklch(calc(var(--ui-lightness) * (1 - var(--ui-darkness-offset2))) var(--ui-chroma) var(--ui-primary-hue));
		--ui-primary-dark-text: oklch(calc(var(--ui-lightness) * (1 + var(--ui-darkness-text-offset))) var(--ui-chroma) var(--ui-primary-hue));

		--ui-secondary: oklch(var(--ui-lightness) 0 var(--ui-secondary-hue));
		--ui-secondary-light: oklch(calc(var(--ui-lightness) * (1 + var(--ui-lightness-offset))) 0 var(--ui-secondary-hue));
		//--ui-secondary-light2: oklch(calc(var(--ui-lightness) * (1 + var(--ui-lightness-offset2))) 0 var(--ui-secondary-hue));
		--ui-secondary-light2: oklch(.94 0 var(--ui-secondary-hue));
		--ui-secondary-light-text: oklch(calc(var(--ui-lightness) * (1 + var(--ui-lightness-text-offset))) 0 var(--ui-secondary-hue));
		--ui-secondary-dark: oklch(calc(var(--ui-lightness) * (1 - var(--ui-darkness-offset))) 0 var(--ui-secondary-hue));
		--ui-secondary-dark2: oklch(calc(var(--ui-lightness) * (1 - var(--ui-darkness-offset2))) 0 var(--ui-secondary-hue));
		--ui-secondary-dark-text: oklch(calc(var(--ui-lightness) * (1 + var(--ui-darkness-text-offset))) 0 var(--ui-secondary-hue));

		--ui-success: oklch(var(--ui-lightness) var(--ui-chroma) var(--ui-success-hue));
		--ui-success-light: oklch(calc(var(--ui-lightness) * (1 + var(--ui-lightness-offset))) var(--ui-chroma) var(--ui-success-hue));
		//--ui-success-light2: oklch(calc(var(--ui-lightness) * (1 + var(--ui-lightness-offset2))) var(--ui-chroma) var(--ui-success-hue));
		--ui-success-light2: oklch(.94 .02 var(--ui-success-hue));
		--ui-success-light-text: oklch(calc(var(--ui-lightness) * (1 + var(--ui-lightness-text-offset))) var(--ui-chroma) var(--ui-success-hue));
		--ui-success-dark: oklch(calc(var(--ui-lightness) * (1 - var(--ui-darkness-offset))) var(--ui-chroma) var(--ui-success-hue));
		--ui-success-dark2: oklch(calc(var(--ui-lightness) * (1 - var(--ui-darkness-offset2))) var(--ui-chroma) var(--ui-success-hue));
		--ui-success-dark-text: oklch(calc(var(--ui-lightness) * (1 + var(--ui-darkness-text-offset))) var(--ui-chroma) var(--ui-success-hue));

		--ui-danger: oklch(var(--ui-lightness) var(--ui-chroma) var(--ui-danger-hue));
		--ui-danger-light: oklch(calc(var(--ui-lightness) * (1 + var(--ui-lightness-offset))) var(--ui-chroma) var(--ui-danger-hue));
		//--ui-danger-light2: oklch(calc(var(--ui-lightness) * (1 + var(--ui-lightness-offset2))) var(--ui-chroma) var(--ui-danger-hue));
		--ui-danger-light2: oklch(.94 .02 var(--ui-danger-hue));
		--ui-danger-light-text: oklch(calc(var(--ui-lightness) * (1 + var(--ui-lightness-text-offset))) var(--ui-chroma) var(--ui-danger-hue));
		--ui-danger-dark: oklch(calc(var(--ui-lightness) * (1 - var(--ui-darkness-offset))) var(--ui-chroma) var(--ui-danger-hue));
		--ui-danger-dark2: oklch(calc(var(--ui-lightness) * (1 - var(--ui-darkness-offset2))) var(--ui-chroma) var(--ui-danger-hue));
		--ui-danger-dark-text: oklch(calc(var(--ui-lightness) * (1 + var(--ui-darkness-text-offset))) var(--ui-chroma) var(--ui-danger-hue));

		--ui-warning: oklch(var(--ui-lightness) var(--ui-chroma) var(--ui-warning-hue));
		--ui-warning-light: oklch(calc(var(--ui-lightness) * (1 + var(--ui-lightness-offset))) var(--ui-chroma) var(--ui-warning-hue));
		//--ui-warning-light2: oklch(calc(var(--ui-lightness) * (1 + var(--ui-lightness-offset2))) var(--ui-chroma) var(--ui-warning-hue));
		--ui-warning-light2: oklch(.94 .02 var(--ui-warning-hue));
		--ui-warning-light-text: oklch(calc(var(--ui-lightness) * (1 + var(--ui-lightness-text-offset))) var(--ui-chroma) var(--ui-warning-hue));
		--ui-warning-dark: oklch(calc(var(--ui-lightness) * (1 - var(--ui-darkness-offset))) var(--ui-chroma) var(--ui-warning-hue));
		--ui-warning-dark2: oklch(calc(var(--ui-lightness) * (1 - var(--ui-darkness-offset2))) var(--ui-chroma) var(--ui-warning-hue));
		--ui-warning-dark-text: oklch(calc(var(--ui-lightness) * (1 + var(--ui-darkness-text-offset))) var(--ui-chroma) var(--ui-warning-hue));

		--ui-info: oklch(var(--ui-lightness) var(--ui-chroma) var(--ui-info-hue));
		--ui-info-light: oklch(calc(var(--ui-lightness) * (1 + var(--ui-lightness-offset))) var(--ui-chroma) var(--ui-info-hue));
		//--ui-info-light2: oklch(calc(var(--ui-lightness) * (1 + var(--ui-lightness-offset2))) var(--ui-chroma) var(--ui-info-hue));
		--ui-info-light2: oklch(.94 .02 var(--ui-info-hue));
		--ui-info-light-text: oklch(calc(var(--ui-lightness) * (1 + var(--ui-lightness-text-offset))) var(--ui-chroma) var(--ui-info-hue));
		--ui-info-dark: oklch(calc(var(--ui-lightness) * (1 - var(--ui-darkness-offset))) var(--ui-chroma) var(--ui-info-hue));
		--ui-info-dark2: oklch(calc(var(--ui-lightness) * (1 - var(--ui-darkness-offset2))) var(--ui-chroma) var(--ui-info-hue));
		--ui-info-dark-text: oklch(calc(var(--ui-lightness) * (1 + var(--ui-darkness-text-offset))) var(--ui-chroma) var(--ui-info-hue));

		--ui-expander-bg: var(--ui-site-bg);
		--ui-expander-fg: var(--ui-site-fg);

		--ui-summary-bg: var(--ui-primary);
		--ui-summary-fg: var(--ui-primary-fg);
	}

	@mixin lightMode() {
		--ui-site-bg: var(--ui-site-bg-light);
		--ui-site-bg-secondary: var(--ui-site-fg-secondary-dark);

		--ui-site-fg: var(--ui-site-fg-light);
		--ui-site-fg-secondary: var(--ui-site-fg-secondary-light);
	    --ui-site-fg-muted: var(--ui-site-fg-secondary);
		--ui-site-fg-tertiary: var(--ui-site-fg-tertiary-light);
		--ui-site-fg-quaternary: var(--ui-site-fg-quaternary-light);

		--ui-site-panel: var(--ui-site-panel-light);
		--ui-site-panel-shadow: var(--ui-site-panel-shadow-light);

		--ui-site-border-inactive: var(--ui-site-fg-quaternary);
		--ui-site-border-hover: var(--ui-site-fg-tertiary);
		--ui-site-border-active: var(--ui-site-fg-secondary);

		//--content-bg: var(--ui-content-bg-light);
		--ui-header-bg: var(--ui-header-bg-light);
		--ui-footer-bg: var(--ui-footer-bg-light);

		--ui-chroma: var(--ui-chroma-light);
		
		--ui-primary-hue: var(--ui-primary-hue-light);
		--ui-secondary-hue: var(--ui-secondary-hue-light);
		--ui-success-hue: var(--ui-success-hue-light);
		--ui-danger-hue: var(--ui-danger-hue-light);
		--ui-warning-hue: var(--ui-warning-hue-light);
		--ui-info-hue: var(--ui-info-hue-light);
		
		--ui-primary-fg: var(--ui-primary-fg-light);
		--ui-secondary-fg: var(--ui-secondary-fg-light);
		--ui-success-fg: var(--ui-success-fg-light);
		--ui-danger-fg: var(--ui-danger-fg-light);
		--ui-warning-fg: var(--ui-warning-fg-light);
		--ui-info-fg: var(--ui-info-fg-light);
		
		--ui-link: var(--ui-link-light);
		--ui-chevronSVG: var(--ui-chevronSVG-light);

		@include resetPalette;
		
		--ui-primary-bg: var(--ui-primary-light2);
		--ui-primary-text: var(--ui-primary-light-text);

		--ui-secondary-bg: var(--ui-secondary-light2);
		--ui-secondary-text: var(--ui-secondary-light-text);

		--ui-success-bg: var(--ui-success-light2);
		--ui-success-text: var(--ui-success-light-text);

		--ui-danger-bg: var(--ui-danger-light2);
		--ui-danger-text: var(--ui-danger-light-text);

		--ui-warning-bg: var(--ui-warning-light2);
		--ui-warning-text: var(--ui-warning-light-text);

		--ui-info-bg: var(--ui-info-light2);
		--ui-info-text: var(--ui-info-light-text);

		--ui-panel-fg: var(--ui-site-fg-light);
	}

	@mixin darkMode() {
		--ui-site-bg: var(--ui-site-bg-dark);
		--ui-site-bg-secondary: var(--ui-site-fg-secondary-light);
			
		--ui-site-fg: var(--ui-site-fg-dark);
		--ui-site-fg-secondary: var(--ui-site-fg-secondary-dark);
	    --ui-site-fg-muted: var(--ui-site-fg-secondary);
		--ui-site-fg-tertiary: var(--ui-site-fg-tertiary-dark);
		--ui-site-fg-quaternary: var(--ui-site-fg-quaternary-dark);
			
		--ui-site-panel: var(--ui-site-panel-dark);
		--ui-site-panel-shadow: var(--ui-site-panel-shadow-dark);

  		--ui-site-border-inactive: var(--ui-site-fg-quaternary);
		--ui-site-border-hover: var(--ui-site-fg-tertiary);
		--ui-site-border-active: var(--ui-site-fg-secondary);

		/*--ui-content-bg: var(--ui-content-bg-dark);*/
		--ui-header-bg: var(--ui-header-bg-dark);
		--ui-footer-bg: var(--ui-footer-bg-dark);

		--ui-chroma: var(--ui-chroma-dark);

		--ui-primary-hue: var(--ui-primary-hue-dark);
		--ui-secondary-hue: var(--ui-secondary-hue-dark);
		--ui-success-hue: var(--ui-success-hue-dark);
		--ui-danger-hue: var(--ui-danger-hue-dark);
		--ui-warning-hue: var(--ui-warning-hue-dark);
		--ui-info-hue: var(--ui-info-hue-dark);

		--ui-primary-fg: var(--ui-primary-fg-dark);
		--ui-secondary-fg: var(--ui-secondary-fg-dark);
		--ui-success-fg: var(--ui-success-fg-dark);
		--ui-danger-fg: var(--ui-danger-fg-dark);
		--ui-warning-fg: var(--ui-warning-fg-dark);
		--ui-info-fg: var(--ui-info-fg-dark);

		--ui-link: var(--ui-link-dark);
		--ui-chevronSVG: var(--ui-chevronSVG-dark);

		@include resetPalette;

		--ui-primary-bg: var(--ui-primary-dark2);
		--ui-primary-text: var(--ui-primary-dark-text);

		--ui-secondary-bg: var(--ui-secondary-dark2);
		--ui-secondary-text: var(--ui-secondary-dark-text);

		--ui-success-bg: var(--ui-success-dark2);
		--ui-success-text: var(--ui-success-dark-text);

		--ui-danger-bg: var(--ui-danger-dark2);
		--ui-danger-text: var(--ui-danger-dark-text);

		--ui-warning-bg: var(--ui-warning-dark2);
		--ui-warning-text: var(--ui-warning-dark-text);

		--ui-info-bg: var(--ui-info-dark2);
		--ui-info-text: var(--ui-info-dark-text);

		--ui-panel-fg: var(--ui-site-fg-dark);
	}

	// set defaults
	html.dark-only,
	html.dark-mode:not(.light-only) {
		@include darkMode();
	}

	html:not(.dark-only), 
	html.light-mode:not(.dark-only) {
		@include lightMode();
	}

	// switch to user colour scheme preference
	html:not(.dark-only) {

		@media (prefers-color-scheme: light) {
			@include lightMode();
		}

	}

	html:not(.light-only) {

		@media (prefers-color-scheme: dark) {
			@include darkMode();
		}

	}

	// high-contrast mode
	@media (forced-colors: active) {
		*,
		::before,
		::after {
			border-image: none !important;
			list-style-image: none !important;
		}

		mark {
			color: inherit;
		}

		.no-forced-colors {
			forced-color-adjust: none;
		}

		/*
      NB: in forced colors mode, the following values are selected from the system colours palette (see below):
	    --------------------
    
      color
      background-color
      text-decoration-color
      text-emphasis-color
      border-color
      outline-color
      column-rule-color
      -webkit-tap-highlight-color
      SVG fill attribute
      SVG stroke attribute    
    */

		/*
	    system colours
	    --------------------
	    background: Canvas
	    text: CanvasText
	    links: LinkText
	    visited links: VisitedText
	    active links: ActiveText
	    button background: ButtonFace
	    button foreground: ButtonText
	    button border: ButtonBorder
	    form field background: Field
	    form field foregroun: FieldText
	    selection background: Highlight
	    selection foreground: HighlightText
	    selected item background: SelectedItem
	    selected item foreground: SelectedItemText
	    marked text background: Mark
	    marked text foreground: MarkText
	    disabled text: GrayText
    */
	}

	.text--secondary {
		color: var(--ui-site-fg-secondary);
	}

	.text--tertiary {
		color: var(--ui-site-fg-tertiary);
	}

	.text--quaternary {
		color: var(--ui-site-fg-quaternary);
	}

	.theme {

		&--light {
			background-color: var(--ui-site-bg-light);
			color: var(--ui-site-fg-light);

			.text--secondary {
				color: var(--ui-site-fg-secondary-light);
			}

			.text--tertiary {
				color: var(--ui-site-fg-tertiary-light);
			}

			.text--quaternary {
				color: var(--ui-site-fg-quaternary-light);
			}
		}

		&--mid {
			background-color: var(--ui-site-bg-mid);
			color: var(--ui-site-fg-mid);

			.text--secondary {
				color: var(--ui-site-fg-secondary-mid);
			}

			.text--tertiary {
				color: var(--ui-site-fg-tertiary-mid);
			}

			.text--quaternary {
				color: var(--ui-site-fg-quaternary-mid);
			}
		}

		&--dark {
			background-color: var(--ui-site-bg-dark);
			color: var(--ui-site-fg-dark);

			.text--secondary {
				color: var(--ui-site-fg-secondary-dark);
			}

			.text--tertiary {
				color: var(--ui-site-fg-tertiary-dark);
			}

			.text--quaternary {
				color: var(--ui-site-fg-quaternary-dark);
			}
		}
	}
}
