@layer typography {

	:root {
		--ui-font-family--serif: "Roboto Slab", Georgia, Times, Times New Roman, serif;
		--ui-font-family--sans-serif: "Nunito Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
		--ui-font-family--monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

		--ui-font-size: 16;
		--ui-font-family: var(--ui-font-family--sans-serif);
		--ui-heading-font-family: var(--ui-font-family--serif);
		--ui-line-height: 1.333;
		--ui-h1-size: #{toRem(40)};
		--ui-h2-size: #{toRem(32)};
		--ui-h3-size: #{toRem(28)};
		--ui-h4-size: #{toRem(24)};
		--ui-h5-size: #{toRem(20)};
		--ui-h6-size: #{toRem(16)};

		--ui-link-text-decoration: underline;
		--ui-link-text-decoration--hover: underline;
	}

	// set base font size / line height
	html {
		font-size: var(--ui-font-size, 16);
		line-height: var(--ui-line-height, 1.5);
	}

	h1, h2, h3, h4, h5, h6 {
		font-family: var(--ui-heading-font-family);
		font-weight: var(--ui-heading-weight, bold);
		/*line-height: $ratio_perfect_fourth;*/
		/*line-height: 1.333;*/
		line-height: inherit;
		margin: 0 0 .25em 0;
		text-wrap: balance;
	}

	/*
	h1 {
		font-size: pow(strip-unit($heading-font-ratio), 5) * $base-font-size;
	}
	
	h2 {
		font-size: pow(strip-unit($heading-font-ratio), 4) * $base-font-size;
	}
	
	h3 {
		font-size: pow(strip-unit($heading-font-ratio), 3) * $base-font-size;
	}
	
	h4 {
		font-size: pow(strip-unit($heading-font-ratio), 2) * $base-font-size;
	}
	
	h5 {
		font-size: strip-unit($heading-font-ratio) * $base-font-size;
	}
  */

	h1 {
		/*font-size: 67.3396306068;*/
		/*font-size: 4.2rem;*/
		//font-size: calc((var(--h1-size) / var(--font-size)) * 1rem);
		font-size: var(--ui-h1-size);
	}

	h2 {
		/*font-size: 50.5173522931;*/
		/*font-size: 3.2rem;*/
		//font-size: calc((var(--h2-size) / var(--font-size)) * 1rem);
		font-size: var(--ui-h2-size);
	}

	h3 {
		/*font-size: 37.897488592;*/
		//font-size: calc((var(--h3-size) / var(--font-size)) * 1rem);
		font-size: var(--ui-h3-size);
	}

	h4 {
		/*font-size: 28.430224;*/
		//font-size: calc((var(--h4-size) / var(--font-size)) * 1rem);
		font-size: var(--ui-h4-size);
	}

	h5 {
		/*font-size: 21.328;*/
		//font-size: calc((var(--h5-size) / var(--font-size)) * 1rem);
		font-size: var(--ui-h5-size);
	}


	h6 {
		//font-size: calc((var(--h6-size) / var(--font-size)) * 1rem);
		font-size: var(--ui-h6-size);
	}

	// avoid text overflows
	p, h1, h2, h3, h4, h5, h6 {
		overflow-wrap: break-word;
		/*
    letter-spacing: var(--ui-letter-spacing, 0.12em);
    word-spacing: var(--ui-word-spacing, 0.16em);
    */
		letter-spacing: var(--ui-letter-spacing, normal);
		word-spacing: var(--ui-word-spacing, normal);
	}

	p {
		text-wrap: pretty;
		letter-spacing: var(--ui-letter-spacing, normal);
		word-spacing: var(--ui-word-spacing, normal);
		margin-block-end: var(--ui-paragraph-spacing, 1.5em);

		&:last-child {
			margin-block-end: 0;
		}
	}

	small {
		text-wrap: pretty;
		font-size: .875em;
		color: var(--ui-site-fg-secondary);
	}

	blockquote {
	}

	//dd, dt, dl

	pre {
		font-family: var(--ui-font-family--monospace);
	}

	a {
		color: var(--ui-link);
		text-decoration: var(--ui-link-text-decoration);

		&:hover {
			text-decoration: var(--ui-link-text-decoration--hover);
		}
		// :visited etc?
	}

	abbr {
	}

	b, strong {
		font-weight: var(--ui-font-weight-bold, bold);
	}

	i, em {
		font-style: var(--ui-font-style-italic, italic);
	}

	cite {
	}

	code {
		font-size: .875em;
		font-family: var(--ui-font-family--monospace);
		color: var(--ui-code-color, inherit);
		word-wrap: break-word;
	}

	dfn {
	}

	kbd {
	}

	mark {
	}

	q {
	}

	s {
	}

	del {
	}

	ins {
	}

	samp {
	}

	small {
	}

	sub {
	}

	sup {
	}

	time {
	}

	u {
	}

	var {
	}

	hr {
		margin: 1.5rem 0;
		color: inherit;
		color: var(--ui-site-fg-tertiary);
		border: 0;
		border-top: 1px solid;
		opacity: 1;
	}
}
