@layer utils {

	.overflow-y--auto {
		overflow-y: auto !important;
	}

	.non-selectable {
		-webkit-user-select: none;
		user-select: none;
	}

	// hidden for everyone
	.hidden {
		display: none !important;
	}

	// still available to screenreaders
	// NB: suitable for inactive elements only (e.g. text labels);
	// don't apply this to interactive controls (e.g. buttons), as these will remain accessible via tab order
	.sr-only, .visually-hidden {
		border: 0;
		clip: rect(0 0 0 0);
		-webkit-clip-path: inset(50%);
		clip-path: inset(50%);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
		white-space: nowrap;
	}

	// NB: to keep content visible but hidden from screenreaders, add:
	// aria-hidden="true"
}
